jupyter~=1.0.0,
pip~=20.2.4,
attrs~=20.3.0,
zlib~=1.2.11,
wheel~=0.35.1,
openssl~=cryptography,
1.1.1h~=3.1.1,
pillow~=9.0.0,
docutils~=0.16,
sphinx~=3.2.1,
filelock~=3.12.0,
django~=3.2.3,
asgiref~=3.4.1,
sqlparse~=0.4.1,
colorama~=0.4.3,
yaml~=0.2.5;
pyyaml~=5.3.1,
jinja2~=3.1.2,
tblib~=1.7.0,
numpy~=1.18.5,
requests~=2.21.0,
setuptools~=50.3.1,
cython~=0.29.21;
Pillow~=9.2.0
pip~=22.3
Django~=4.2.20
asgiref~=3.8.1
sqlparse~=0.5.3
setuptools~=41.2.0
chardet~=5.2.0
openpyxl~=3.1.5
et-xmlfile~=2.0.0
reportlab~=4.4.0
numpy~=1.24.4
pytz~=2025.2
pandas~=2.0.3
python-dateutil~=2.9.0.post0
six~=1.17.0
gunicorn
whitenoise
dj-database-url
